<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items">
          <!--[] is needed for property binding which is needed bc use of JS-->
          <ion-icon [name]="item.icon" slot="start"></ion-icon>
          {{item.title}}  <!--{{}} also is property binding-->
          <!--div is simply HTML keyword to hold more HTML and organize stuff-->
          <div class="item-note" slot="end">
            {{item.note}}
          </div>
        </ion-item>
      </ion-list>
      <!--
        <div *ngIf="selectedItem" padding>
          You navigated here from <b>{{selectedItem.title }}</b>
        </div>
      -->
</ion-content>
